<button type="button" class="btn btn-primary pull-right buttonAlign" {{action "showForm"}}>Add Post</button>
{{#if showForm}}
  {{post-creation-form sendPost="addPost" postUpdate="updatePost" sendForm="hideForm" editedPost=editPost isEditable=isEditable}}
{{/if}}
<table class="table table-bordered table-striped">
	<thead>
	    <tr>
	      <th>S.No</th>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Edit</th>
	      <th>Delete</th>
	    </tr>
    </thead>
	{{#each postList as |post index|}}
	<tbody>
		<tr>
			<td>{{post.id}}</td>
			<td>{{post.title}}</td>
			<td>{{post.body}}</td>
			<td>
			  <a class="icon" {{action "editPost" post}}>
			      <span class="glyphicon glyphicon-edit"></span>
			  </a>
			</td>
			<td><a class="icon" {{action "deletePost" post}}>
			      <span class="glyphicon glyphicon-trash"></span>
			  </a>
			</td>
		</tr>
	</tbody>
	{{/each}}
 </table>